<html>
    <head>
        <title>Liste de voitures</title>
    </head>

    <body>
        <h1>Les voitures</h1>
        <ul>
            {% for voiture in voitures %}

                {% if voiture.nom == 'Ferrari' %}
                    <li style="color: red">
                {% else %}
                    <li style="color: black">
                {% endif %}

                        {{voiture.nom}} = {{voiture.puissance}} CV
                    </li>
            {%endfor%}
        </ul>
    </body>
</html>